<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voting System</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="contact-us">Contact</a></li>
            <li><a href="/voting">Voting Polls</a></li>

            <li><a href="/login">Log-Out</a></li>
        </ul>
    </nav>


    <div class="container">
        <h1>Welcome to the Voting System</h1>
        <p>This system allows you to participate in various voting polls and make your voice heard.</p>
        <p>Features:</p>
        <ul>
            <li>Participate in voting polls</li>
            <li>View voting results</li>
        </ul>
        <p>If you're a user, you can submit your vote <a href="/voting">here</a>.</p>
    </div>
</body>

</html>